*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.fullpagebody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #4d86a4;
  color: #ffffff;
}
.logo {
  margin-top: 20px;
  width: fit-content;
}
.names {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}
.namesection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
.active{
  display: flex;
}
.nametext{
  display: flex;
  align-items: center;
  justify-content: center;
}