*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  width: 100vw;
  background-size: cover;

}

.fullpagebody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 30px;
  /* background-color: #4d86a4; */
  color: #ffffff;
}
.logo {
  width: fit-content;

  img {
    max-height: 21vh;
  }
}
.names {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}
.namesection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
.active{
  display: flex;
}
.nametext{
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollCont {
  width: 80%;
  height: 57vh;
  margin-bottom: 6vh;
  background-color: red;
}